<div class="container mt-3">
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">
        <b>Daily Weather App</b>
      </h3>
    </div>

    <div class="card-body mt-4">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label><b>City Name</b> </label>
            <ng-select
              class="mt-2"
              appearance="outline"
              [multiple]="false"
              #agreeSelect
              labelForId="status"
              [searchable]="true"
              placeholder="Select Cities"
              (change)="changeCity($event)"
            >
              <ng-option *ngFor="let item of cityList">
                {{ item }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-4">
          <div class="form-group">
            <label><b>Current Temperate in celsius</b></label>
            <input
              class="form-control mt-2"
              disabled
              value="{{ cityTempInCelsius }}"
            />
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-4">
          <div class="form-group">
            <label><b>Current Weather Condition</b></label>

            <h2>
              {{ weather }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-default mt-5">
    <div class="card-header">
      <h3 class="card-title">
        <b>Weekly Weather App</b>
      </h3>
    </div>

    <div class="card-body mt-4">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label><b>City Name</b> </label>
            <ng-select
              class="mt-2"
              appearance="outline"
              [multiple]="false"
              #agreeSelect
              labelForId="status"
              [searchable]="true"
              placeholder="Select Cities"
              (change)="changeCityWeekly($event)"
            >
              <ng-option *ngFor="let item of cityList">
                {{ item }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-4">
          <div class="form-group">
            <label><b>Weekly Temperature in celsius</b></label>
            <input
              class="form-control mt-2"
              disabled
              value="{{ cityTempInCelsiuss }}"
            />
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-4">
          <div class="form-group">
            <label><b>Weekly Weather Condition</b></label>

            <h2>
              {{ weathers }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
