/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

.form-control {
  background-color: #f7f9fc !important;
  color: #1a2138;
}

::placeholder {
  color: #ada8a8 !important;
  opacity: 1;
  /* Firefox */
  font-size: 13px;
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
